<% include ../partials/head.ejs %>
<% include ./partials/admin-header.ejs %>
<% include ./partials/admin-primaryNavigation.ejs %>
<main role="main" class="adminPage">
    <section>

        <a href="#" onclick="openForm()">Opret</a>
        <table>
            <th>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Age_group</th>
                    <th>Beskrivelse</th>
                </tr>
            </th>

            <th>
                <% results.forEach(result => { %>
                <tr>
                    <td>
                        <i onclick="openUpdateForm(<%= result.id %>)" data-id="<%= result.id %>" data-category="agegroup" class="fas fa-edit"></i>
                    </td>
                    <td>
                        <i data-id="<%= result.id %>" data-category="agegroup" class="fas fa-trash-alt"></i>
                    </td>
                
                    <td onclick="openUpdateForm(<%= result.id %>)">
                        <%= result.name %>
                    </td>
                    <td onclick="openUpdateForm(<%= result.id %>)">
                        <%= result.description %>
                    </td>
              

                </tr>
                <% }); %>
            </th>

        </table>

    </section>
    <!-- Pop-up til tilføj alder -->
    <div id="addTo" class="addForm">
        <a href="" onclick="closeForm()"><i class="fas fa-times"></i></a>
        <h2>Tilføj Aldersgruppe</h2>
        <form action="" method="post">
            <label for="name">Age_group</label><input type="text" name="name" placeholder="Alder">
            <label for="description">Beskrivelse</label><textarea name="description" cols="30" rows="10" placeholder="Beskrivelse"></textarea>
            <button type="submit">Gem age_group</button>
        </form>
    </div>
     <!-- Pop-up til update af aldersgruppe -->
     <div id="updateTo" class="updateForm">
        <a href="" onclick="closeUpdateForm()"><i class="fas fa-times"></i></a>
        <h2>Redigér Aldersgruppe</h2>
        <form class="formUpdateForm">
            <input type="hidden" name="id" class="updateID">
            <label for="name">Aldersgruppe navn</label><input type="text" name="nameUpdate" placeholder="Aldersgruppe navn">
            <label for="description">Aldersgruppe Beskrivelse</label><textarea name="descriptionUpdate" cols="30" rows="10" placeholder="Aldersgruppe Beskrivelse"></textarea>
            <button type="submit">Gem aldersgruppe</button>
        </form>
    </div>
</main>
<script src="/scripts/deleteButtons.js" defer></script>
<script>
    document.querySelector('.formUpdateForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const data = {
            'id' : this.id.value,
            'name' : this.nameUpdate.value,
            'description' : this.descriptionUpdate.value
        };

        fetch('/admin/agegroup', {
            method: 'PATCH',
            headers: {
                'Content-type': 'application/json; charset=utf-8'
            },
            body: JSON.stringify(data)
        })
        .then(response => {
            if (response.status === 200) {
                window.location.reload(true);
            } else {
                console.log('Noget gik galt');
            }
        })
    });
</script>
<% include ../partials/after-footer.ejs %>